<%- partial('_partial/portfolio-full', {item: page}) %>
<div class="window">
    <div class="close-tag"></div>
    <img src=""/>
</div>
<!-- popup modal js -->
<script>
    $('.demoImg').click(function(){
        console.log('demoImg is clicked');
        var src = this.src;
        $('.window img').attr('src',src);
        $('.window').addClass('window-show');
    });

    $('.close-tag').click(function(){
        console.log('close-tag clicked');
        $('.window').removeClass('window-show');
    });

    $(document).keyup(function(e){
        var keyWhich =  e.which;
        var keyCode =  e.keyCode;
        if(keyWhich == 27 || keyCode == 27){
            $('.window').removeClass('window-show');
        }
    });        
</script>
